script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
script(src="js/main.js")
script(src="js/icons.js" async)
script(async src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.4.0/dist/lazyload.min.js")
script window.lazyLoadOptions = { elements_selector: ".lazy" };