
nav(class="main-nav js-nav")
	div(class="center")
		ul(class="main-nav__list")
			li(class="main-nav__item")
				a(href="#")
					span(class="main-nav__item-title") Demos
					span(class="main-nav__item-icon js-icon" data-icon="arrow")
				ul(class="main-nav__sublist")
					li(class="main-nav__item main-nav__item_subitem")
						a(href="#")
							span(class="main-nav__item-title") Post Header
							span(class="main-nav__item-icon main-nav__item-icon_right js-icon" data-icon="arrow")
					li(class="main-nav__item main-nav__item_subitem")
						a(href="#")
							span(class="main-nav__item-title") Post Layout
							span(class="main-nav__item-icon main-nav__item-icon_right js-icon" data-icon="arrow")
					li(class="main-nav__item main-nav__item_subitem")
						a(href="#")
							span(class="main-nav__item-title") Share Buttons
							span(class="main-nav__item-icon main-nav__item-icon_right js-icon" data-icon="arrow")
					li(class="main-nav__item main-nav__item_subitem")
						a(href="#")
							span(class="main-nav__item-title") Gallery Post
							span(class="main-nav__item-icon main-nav__item-icon_right js-icon" data-icon="arrow")
					li(class="main-nav__item main-nav__item_subitem")
						a(href="#")
							span(class="main-nav__item-title") Video Post
							span(class="main-nav__item-icon main-nav__item-icon_right js-icon" data-icon="arrow")

			li(class="main-nav__item")
				a(href="#")
					span(class="main-nav__item-title") Post
					span(class="main-nav__item-icon js-icon" data-icon="arrow")
				ul(class="main-nav__sublist")
					li(class="main-nav__item main-nav__item_subitem")
						a(href="#")
							span(class="main-nav__item-title") Post Header
							span(class="main-nav__item-icon main-nav__item-icon_right js-icon" data-icon="arrow")
					li(class="main-nav__item main-nav__item_subitem")
						a(href="#")
							span(class="main-nav__item-title") Post Layout
							span(class="main-nav__item-icon main-nav__item-icon_right js-icon" data-icon="arrow")
					li(class="main-nav__item main-nav__item_subitem")
						a(href="#")
							span(class="main-nav__item-title") Share Buttons
							span(class="main-nav__item-icon main-nav__item-icon_right js-icon" data-icon="arrow")
					li(class="main-nav__item main-nav__item_subitem")
						a(href="#")
							span(class="main-nav__item-title") Gallery Post
							span(class="main-nav__item-icon main-nav__item-icon_right js-icon" data-icon="arrow")
					li(class="main-nav__item main-nav__item_subitem")
						a(href="#")
							span(class="main-nav__item-title") Video Post
							span(class="main-nav__item-icon main-nav__item-icon_right js-icon" data-icon="arrow")
			li(class="main-nav__item")
				a(href="#")
					span(class="main-nav__item-title") Features
					span(class="main-nav__item-icon js-icon" data-icon="arrow")
				ul(class="main-nav__sublist")
					li(class="main-nav__item main-nav__item_subitem")
						a(href="#")
							span(class="main-nav__item-title") Post Header
							span(class="main-nav__item-icon main-nav__item-icon_right js-icon" data-icon="arrow")
					li(class="main-nav__item main-nav__item_subitem")
						a(href="#")
							span(class="main-nav__item-title") Post Layout
							span(class="main-nav__item-icon main-nav__item-icon_right js-icon" data-icon="arrow")
					li(class="main-nav__item main-nav__item_subitem")
						a(href="#")
							span(class="main-nav__item-title") Share Buttons
							span(class="main-nav__item-icon main-nav__item-icon_right js-icon" data-icon="arrow")
					li(class="main-nav__item main-nav__item_subitem")
						a(href="#")
							span(class="main-nav__item-title") Gallery Post
							span(class="main-nav__item-icon main-nav__item-icon_right js-icon" data-icon="arrow")
					li(class="main-nav__item main-nav__item_subitem")
						a(href="#")
							span(class="main-nav__item-title") Video Post
							span(class="main-nav__item-icon main-nav__item-icon_right js-icon" data-icon="arrow")

			li(class="main-nav__item")
				a(href="#")
					span(class="main-nav__item-title") Categories
					span(class="main-nav__item-icon js-icon" data-icon="arrow")
				ul(class="main-nav__sublist")
					li(class="main-nav__item main-nav__item_subitem")
						a(href="#")
							span(class="main-nav__item-title") Post Header
							span(class="main-nav__item-icon main-nav__item-icon_right js-icon" data-icon="arrow")
					li(class="main-nav__item main-nav__item_subitem")
						a(href="#")
							span(class="main-nav__item-title") Post Layout
							span(class="main-nav__item-icon main-nav__item-icon_right js-icon" data-icon="arrow")
					li(class="main-nav__item main-nav__item_subitem")
						a(href="#")
							span(class="main-nav__item-title") Share Buttons
							span(class="main-nav__item-icon main-nav__item-icon_right js-icon" data-icon="arrow")
					li(class="main-nav__item main-nav__item_subitem")
						a(href="#")
							span(class="main-nav__item-title") Gallery Post
							span(class="main-nav__item-icon main-nav__item-icon_right js-icon" data-icon="arrow")
					li(class="main-nav__item main-nav__item_subitem")
						a(href="#")
							span(class="main-nav__item-title") Video Post
							span(class="main-nav__item-icon main-nav__item-icon_right js-icon" data-icon="arrow")

			li(class="main-nav__item")
				a(href="#")
					span(class="main-nav__item-title") Shop
					span(class="main-nav__item-icon js-icon" data-icon="arrow")
				ul(class="main-nav__sublist")
					li(class="main-nav__item main-nav__item_subitem")
						a(href="#")
							span(class="main-nav__item-title") Post Header
							span(class="main-nav__item-icon main-nav__item-icon_right js-icon" data-icon="arrow")
					li(class="main-nav__item main-nav__item_subitem")
						a(href="#")
							span(class="main-nav__item-title") Post Layout
							span(class="main-nav__item-icon main-nav__item-icon_right js-icon" data-icon="arrow")
					li(class="main-nav__item main-nav__item_subitem")
						a(href="#")
							span(class="main-nav__item-title") Share Buttons
							span(class="main-nav__item-icon main-nav__item-icon_right js-icon" data-icon="arrow")
					li(class="main-nav__item main-nav__item_subitem")
						a(href="#")
							span(class="main-nav__item-title") Gallery Post
							span(class="main-nav__item-icon main-nav__item-icon_right js-icon" data-icon="arrow")
					li(class="main-nav__item main-nav__item_subitem")
						a(href="#")
							span(class="main-nav__item-title") Video Post
							span(class="main-nav__item-icon main-nav__item-icon_right js-icon" data-icon="arrow")


			li(class="main-nav__item")
				a(href="#") Buy Now