header(class="header")
	div(class="center flex flex_jc-center flex_ai-center")
		div(class="header__column")
		a(href="/" class="header__logo")
			img(src="i/logo.svg" alt="logotype")


		div(class="header__column flex flex_ai-center flex_jc-end")
			button(type="button" class="header__search-button js-icon" data-icon="search")

			button(type="button" class="header__nav-button js-nav-button")
				span(class="header__nav-button-line header__nav-button-line_top")
				span(class="header__nav-button-line header__nav-button-line_mid")
				span(class="header__nav-button-line  header__nav-button-line_bot")
